@import "./reset.css";
body {
  font-family: "Montserrat", sans-serif;
}

.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}

.align {
  &-center {
    align-items: center;
  }
  &-start {
    align-items: flex-start;
  }
}

.justify {
  &-start {
    justify-content: flex-start;
  }
  &-center {
    justify-content: center;
  }
}
.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.grid {
  display: grid;
}

.grid__col-4 {
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
}


.main {
  padding: 88px 0 80px;

  &__row {
    width: 100%;
  }

  &__image {
    width: 380px;
    height: 264px;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    color: #000000;
    text-align: center;
    margin-top: 95px;
    margin-bottom: 20px;
  }

  &__desc {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    text-align: center;
  }
}

.cards {
  position: relative;
  &__sale {
    position: absolute;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    background: #E62D2D;
    border-radius: 10px;
    width: 78px;
    height: 39px;
    top: 32px;
    left: 32px;
  }
  &__like {
    position: absolute;
    fill: rgba(255, 255, 255, 0.5);
    top: 33px;
    right: 8px;
    transition: 0.3s;
    &:hover {
      fill: rgba(255, 255, 255, 1);
    }
  }
  & svg {
    margin-right: 18px;
  }
  &__col {
    margin-left: 22px;
    width: 82px;
  }
  &__col2 {
    margin-left: 40px;
  }
  &__middle {
    margin-top: 22px;
    margin-bottom: 22px;
  }
  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
  }
  &__content {
    padding: 29px;
    background: #F3F3F3;
    max-width: 380px;
  }
  &__sm-desc {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
  }
  &__lg-desc {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;

  }
  &__price {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: 0;
  }
  &__btn {
    background: #6EBBD3;
    color: #FFFFFF;
    border: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 380px;
    height: 65px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    transition: 0.3s;
    &:hover {
      background: #1F2021;
    }
  }
}
